RewriteEngine On
RewriteBase /BackCovid/Back/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Authentification-OMS.html$ index.php [L]
RewriteRule ^Dashboard-OMS.html$ HomeController [L]