RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^Authentification-OMS.html$ index.php/$1 [L]
RewriteRule ^Dashboard-OMS/nombre-a-travers-le-monde.html$ index.php?c=HomeController [L]